# Для интеграции с БД
SQLALCHEMY_DATABASE_URI = 'sqlite:///db/Main.db'

# Для шифрования токенов
SECRET_KEY = 'SECRET_KEY'

# Для наполнения контентом
admin_login = 'admin_login'
admin_password = 'admin_password'
